body{
background-color: rgb(134, 92, 212);
color: rgb(0, 0, 0);
    
}
h1{ 
font-size: 30px;
}
h2{
font-size: 30px;
}
h3{
font-size: 30px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 30px;
}
p{
font-size: 20px;
}
div{
text-align: center;
    
}